<!DOCTYPE html>
<html>
<head>
    <title>Genres</title>
</head>
<body>
    <h1>Genre List</h1>
    <a href="{% url 'genre_create' %}">Add Genre</a>
    <ul>
        {% for genre in genres %}
            <li>
                {{ genre.name }} - 
                <a href="{% url 'genre_update' genre.id %}">Edit</a> | 
                <a href="{% url 'genre_delete' genre.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No genres found.</li>
        {% endfor %}
    </ul>
</body>
</html>
